/* Home Page */

.home {
    width: 100%;
}

.home-container {
    background: var(--grayish-white);
}

/* Header  */

.header {
    position: absolute;
    z-index: 1;
    padding: 2rem;
}

.order-now-button {
    background: var(--orange);
    padding: 1rem;
    color: white;
}

/* Banner */

.banner-container {
    padding-top: calc(125px + 1rem);
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.banner-description-container {
    width: 440px;
}

.banner-image {
    height: 410px;
    width: 440px;   
}

/* Signature Dishes */

.signature-dishes-container {
    background: #efE9db;
}

.signature-dishes {
    padding: 4rem 2rem;
}

.signature-dishes-list {
    width: 100%;
}

.menu-item-container {
    position: relative;
    align-items: end;
    height: 380px;
    width: 280px;
    padding: 2rem;
    background: white;
}

.menu-item-image {
    position: absolute;
    top: -50px;
    height: 170px;
    width: 170px;
}

.menu-item-description {
    min-height: 86.4px;
}

.menu-items-action-container {
    width: 100%;
    color: var(--green);
}

.add-to-cart-button {
    padding: 0.5rem 2rem;
    background: var(--orange);
}

.view-full-menu-button {
    padding: 1rem;
    background: var(--green);
    color: white;
}


/* About Us */

.about-us-container {
    background: var(--grayish-white);
}

.about-us {
    padding: 4rem 2rem;
}

.about-us-image {
    height: 440px;
    width: 300px;
}

.about-us-description-container {
    width: 540px;
    text-align: justify;
}

/* Footer */

.footer-container {
    background: var(--black);
}

.footer {
    padding: 2rem;
    color: white;
}

.footer-contact-svg-container {
    height: 40px;
    width: 40px;
    background: #555555;
    border-radius: 40px;
}

.footer-attribution-container, .footer-membership-container {
    width: 270px;
}

.attribution-list-text {
    margin-bottom: 1rem;
}

@media (max-width: 1050px) {

    /* Banner */

    .banner-description-container {
        width: 400px;
    }

    .banner-image {
        height: 370px;
        width: 400px;   
    }


    .signature-dishes {
        padding: 2rem 2rem;
    }

    .menu-item-container {
        height: 340px;
        width: 240px;
        padding: 1rem;
    }

    .menu-item-image {
        top: -50px;
        height: 130px;
        width: 130px;
    }

    .menu-item-description {
        min-height: 86.4px;
    }

    .add-to-cart-button {
        padding: 0.3rem 1.5rem;
    }

    /* About Us */

    .about-us {
        padding: 2rem 2rem;
    }

    .about-us-image {
        height: 400px;
        width: 260px;
    }

    .about-us-description-container {
        width: 460px;
    }
}

@media (max-width: 810px) {

    /* Banner */

    .banner-description-container {
        width: 350px;
    }

    .banner-image {
        height: 320px;
        width: 350px;   
    }


    .signature-dishes {
        padding: 2rem;
    }

    .menu-item {
        gap: 1rem;
    }

    .menu-item-container {
        height: 250px;
        width: 170px;
        padding: 1rem;
    }

    .menu-item-image {
        top: -50px;
        height: 90px;
        width: 90px;
    }

    .menu-item-description {
        min-height: 86.4px;
    }

    .add-to-cart-button {
        padding: 0.3rem 1.5rem;
    }

    /* About Us */

    .about-us {
        padding: 2rem;
    }

    .about-us-image {
        height: 350px;
        width: 200px;
    }

    .about-us-description-container {
        width: 300px;
    }

    /* Footer */
    .footer {
        padding: 2rem 2rem;
    }

    .footer-contact-svg-container {
        height: 35px;
        width: 35px;
        border-radius: 35px;
    }

    .footer-attribution-container, .footer-membership-container {
        width: 220px;
    }
}

@media (max-width: 600px) {

    /* Banner */

    .banner-description-container {
        width: 300px;
    }

    .banner-image {
        height: 230px;
        width: 250px;   
    }


    .signature-dishes {
        padding: 1rem;
    }

    .menu-item {
        gap: 1rem;
    }

    .menu-item-container {
        height: 230px;
        width: 150px;
        padding: 1rem;
    }

    .menu-item-image {
        top: -50px;
        height: 90px;
        width: 90px;
    }

    .menu-item-description {
        min-height: 70px;
    }

    .add-to-cart-button {
        padding: 0.3rem 1.5rem;
    }

    /* About Us */

    .about-us {
        padding: 1rem;
        justify-content: center;
    }

    .about-us-image {
        height: 300px;
        width: 150px;
    }

    .about-us-description-container {
        width: 250px;
    }

    /* Footer */
    .footer {
        padding: 2rem 1rem;
    }

    .footer-contact-svg-container {
        height: 35px;
        width: 35px;
        border-radius: 35px;
    }

    .footer-attribution-container, .footer-membership-container {
        width: 200px;
    }
}

@media (max-width: 430px) {

    /* Banner */

    .banner-description-container {
        width: 100%;
    }

    .banner-image {
        height: 180px;
        width: 200px;   
    }


    .signature-dishes {
        padding: 1rem;
    }

    .menu-item {
        gap: 1rem;
    }

    .menu-item-container {
        height: 200px;
        width: 120px;
        padding: 1rem;
    }

    .menu-item-image {
        top: -50px;
        height: 90px;
        width: 90px;
    }

    .menu-item-description {
        min-height: 60px;
    }

    .add-to-cart-button {
        padding: 0.3rem 1.5rem;
    }

    /* About Us */

    .about-us {
        padding: 1rem;
        justify-content: center;
    }

    .about-us-image {
        height: 300px;
        width: 150px;
    }

    .about-us-description-container {
        width: 250px;
    }

    /* Footer */
    .footer {
        padding: 2rem 1rem;
    }

    .footer-contact-svg-container {
        height: 35px;
        width: 35px;
        border-radius: 35px;
    }

    .footer-attribution-container, .footer-membership-container {
        width: 200px;
    }
}